@at-root {
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: normal;
    src: govuk-font-url("PlusJakartaSans-Medium.woff2") format("woff2"),
      govuk-font-url("PlusJakartaSans-Medium.woff") format("woff");
    font-display: fallback;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: bold;
    src: govuk-font-url("PlusJakartaSans-ExtraBold.woff2") format("woff2"),
      govuk-font-url("PlusJakartaSans-ExtraBold.woff2") format("woff");
    font-display: fallback;
  }
}
